@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.titulo {
  margin-left: 20px;
  font-size: 2.5rem;
  font-family: 'Caveat', cursive;
  background: linear-gradient(to right, #00ffff, #ff00cc, #d49fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #ff00cc;
  }
  to {
    text-shadow: 0 0 20px #d49fff, 0 0 30px #00ffff;
  }
}
